@model webShop.core.Models.Product

@{
    ViewBag.Title = Model.Name + "Details";
}

<h2> @Html.DisplayNameFor(model => model.Name)</h2>

<div class=" col-md-3">
    <img class="img-responsive" src="~/Content/ProductImage/@Model.Image" />
</div>
<div class=" col-md-9" >
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CreateAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt>
                &nbsp;
            </dt>
            <dd style="text-align:left; padding-top:20px">
                <a href="#" class="btn btn-success"><strong>Add to Cart</strong></a>
            </dd>

        </dl>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div class="col-md-12 clearfix"/>
